@tailwind base;
@tailwind components;
@tailwind utilities;

.container-main {
  @apply container w-5/6 md:w-4/5 lg:w-2/3;
}
.btn {
  @apply px-8 py-2.5 border rounded-full  bg-green-600 font-bold  hover:bg-green-800
   text-white hover:shadow-lg transition-all duration-150
   disabled:opacity-50
}
.btn-edit {
  @apply px-4 py-2 border rounded-full bg-slate-50 ring-1  font-bold   hover:bg-slate-200
    hover:shadow-lg transition-all duration-150 cursor-pointer
   disabled:opacity-50
}
.btn-cart {
  @apply px-4 py-0.5 border rounded-full bg-slate-50 ring-1 text-sm  md:font-bold   hover:bg-slate-200
    hover:shadow-lg transition-all duration-150 cursor-pointer
   disabled:opacity-50
}
.input{
  @apply border outline-none w-full rounded-full px-8 py-2
  shadow  transition-all duration-150 focus:border-blue-700 focus:placeholder:text-blue-700 focus:shadow-md
}